<nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a href="#">Actualidad</a></li>
      <li class="navbar-item"><a href="#">Calendario</a></li>
      <li class="navbar-item"><a href="#">Entradas</a></li>
      <li class="navbar-item"><a href="#">Resultados</a></li>
      <li class="navbar-item"><a href="#">Clasificación</a></li>
      <li class="navbar-item"><a href="#">Jugadores</a></li>
      <li class="navbar-item"><a href="#">Fotos</a></li>
      <li class="navbar-item"><a href="#">Palmarés</a></li>
      <li class="navbar-item"><a href="#">Especiales</a></li>
    </ul>
  </nav>
  