@mixin text-shadow($x, $y, $blur, $color) {
    text-shadow: $x $y $blur $color;
  }
  
@mixin transition($property, $duration, $ease) {
    transition: $property $duration $ease;
  }
  
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
@mixin flex-column {
    display: flex;
    flex-direction: column;
  }

@mixin transitions($transitions...) {
    @each $transition in $transitions {
      transition: $transition;
    }
  }
  
  