$primary-color: #112c55;
$highlight-color: #ffca00;
$text-color: #ffffff;
$secondary-color: #1c3b70;
$shadow-color: rgba(0, 0, 0, 0.5);
$gradient-start: #181E41;
$gradient-end: #153C78;
$top-gradient: #0F0E19;

$background-color: #181733;
$text-shadow-color: rgba(0, 0, 0, 0.7);
$overlay-background: rgba(0, 0, 0, 0.5);
$hero-font-size: 48px;
$hero-font-weight: bold;
$hero-padding: 50px 0;

$white-color: #fff;
$light-gray-color: #888;
$large-font-size: 24px;
$small-font-size: 10px;
$info-padding: 15px;
$additional-info-padding: 10px;
$transition-duration: 0.3s;
$gradient-color-start: rgba(24, 23, 51, 0);
$gradient-color-middle: rgba(24, 23, 51, 0.5);
$gradient-color-end: rgba(24, 23, 51, 0.8);

$footer-height: 350px;
$footer-font-size: 24px;

$navbar-padding: 10px 0;
$navbar-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
$navbar-font-size: 16px;
$navbar-item-margin: 0 15px;
$language-switcher-gap: 10px;
$language-switcher-margin-right: 20px;
$flag-width: 24px;
$navbar-gradient-start: #a50044;
$navbar-gradient-end: #003276;

$landing-bg-color: #ffffff;
$landing-text-color: #000000;
$landing-border-radius: 20px;
$landing-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$hero-text-color: #000000;
$hero-font-size-small: 24px;
$sponsor-text-color: #888888;
$sponsor-logo-width: 60px;
$nav-button-bg-color: #f0f0f0;
$nav-button-text-color: #000000;
$nav-button-bg-hover: #e0e0e0;
$players-title-color: #7C2753;
$players-title-font-size: 32px;