@import 'variables';
@import 'mixins';

body {
    background: linear-gradient(to bottom, $background-color, #000000); 
    margin: 0; 
    font-family: Arial, sans-serif; 
    color: $text-color; 
  }