.hero {
  position: relative;
  background: linear-gradient(to bottom, rgba(24, 23, 51, 0), #181733),
              url('../../../assets/img/foto_aficio.jpg'); /* Ruta a la imagen de fondo con degradado */
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 0; /* Ajusta el padding según sea necesario */
  color: #fdd835; /* Color del texto */
  font-size: 48px; /* Tamaño de la fuente */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra del texto */

  /* Agregar una superposición oscura */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según sea necesario */
    z-index: 1;
  }

  h1 {
    position: relative;
    z-index: 2; /* Asegura que el texto esté sobre la superposición */
  }
}
